.categories_title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
}

.category_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.25rem;
  background: var(--grey-background);
  border: 1px solid var(--light-grey);
  border-radius: 3rem 0.5rem 0.5rem 3rem;
  margin-bottom: 0.75rem;
}

.category_left_container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.category_name {
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
}

.category_right_container {
  padding-right: 1rem;
}

.category_edit_option {
  padding-top: 4px;
  right: 3rem;
}

@media screen and (min-width: 767px) {
  .categories_title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4.5rem;
  }
  .category_blocks_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .category_container:nth-child(odd) {
    border-radius: 3rem 0.5rem 0.5rem 3rem;
  }

  .category_container:nth-child(even) {
    border-radius: 0.5rem 3rem 3rem 0.5rem;
  }
}
