.register_title {
  font-family: var(--primary-font-family);
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  font-size: 2.5rem;
}

.register_label_form {
  font-family: var(--primary-font-family);
  color: var(--dark-grey);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  margin-top: 2rem;
}

.register_email_label,
.register_password_label,
.register_confirm_password_label {
  margin-bottom: 0.5rem;
}

.register_email_input,
.register_password_input,
.register_confirm_password_input {
  margin-bottom: 1.75rem;
}

.register_label_form input[type="email"]::placeholder,
.register_label_form input[type="password"]::placeholder {
  color: var(--text-light-grey);
}

.register_label_form input[type="email"],
.register_label_form input[type="password"] {
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  padding: 1rem 1rem;
  font-size: 1.25rem;
}

.register_form_button {
  margin-top: 1.5rem;
  text-align: center;
  padding-inline: 5rem;
}

.error_message {
  color: red;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.register_email_block {
  display: flex;
  flex-direction: column;
}

.register_password_block {
  display: flex;
  flex-direction: column;
}

.register_confirm_password_block {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .register_title {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4.5rem;
  }

  .register_label_form {
    font-size: 2rem;
    align-items: center;
  }
  .register_label_form input[type="email"],
  .register_label_form input[type="password"] {
    width: 35svw;
  }
  .register_email_input,
  .register_password_input {
    margin-bottom: 2.5rem;
  }
}
