/* #region ----- Transaction title*/

.transactions_title_group {
  margin-top: 1.5rem;
  display: flex;
  font-family: var(--primary-font-family);
  gap: 15px;
  align-items: center;
  margin-bottom: 1.75rem;
}

.title_transactions {
  margin-left: 0.75rem;
  font-size: 1.75rem;
}

.future_transactions,
.last_transactions {
  background: var(--light-grey);
  font-size: 1.25rem;
  border-radius: 25px;
  padding: 5px 10px;
}

.active {
  background: var(--dark-grey);
  color: white;
}

/* #endregion */

.transaction_block {
  display: flex;
  margin-bottom: 1rem;
  background: linear-gradient(to right, white, rgb(231, 230, 230) 50%, white);
  padding: 0.1rem 0.5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
}

.transaction_date,
.transaction_type {
  font-weight: 600;
  font-size: 1rem;
}

.transaction_type,
.transaction_category,
.transaction_date {
  color: var(--text-light-grey);
}

.transaction_category {
  font-weight: 500;
  font-size: 1rem;
  max-width: 7ch;
}

.transaction_date {
  font-weight: 400;
}

.transaction_name {
  font-size: 1rem;
}

.transaction_type {
  font-family: var(--primary-font-family);
}

.transaction_right_block {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding-right: 0.5rem;
  padding-inline: 0.5rem;
}

.transaction_amount {
  font-family: var(--number-font-family);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 3px;
}

.transaction_left_container {
  display: flex;
  gap: 1.5rem;
}

.transaction_left_texts {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  gap: 0.3rem;
}

.transaction_right_texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-width: 80px;
}

.transaction_category_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  align-items: center;
  min-width: 5.75rem;
}
