.transactions_title_group {
  margin-top: 1.5rem;
  display: flex;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  gap: 15px;
  align-items: center;
  margin-bottom: 1rem;
}

.title_transactions {
  margin-left: 0.75rem;
}

.last_transactions {
  background: var(--dark-grey);
  border-radius: 25px;
  padding: 5px 10px;
  color: white;
}

.future_transactions {
  background: var(--light-grey);
  border-radius: 25px;
  padding: 5px 10px;
}

.transaction_block {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.transaction_name {
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 600;
}

.transaction_category_type {
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
  color: var(--text-light-grey);
  font-weight: 600;
}

.transaction_right_block {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.transaction_amount {
  font-family: var(--number-font-family);
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 3px;
}

/* .transaction_button_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.transaction_add_button {
  font-family: var(--button-font-family);
  font-size: 22px;
  font-weight: 400;
  background: var(--dark-grey);
  color: white;
  padding: 17px 3rem;
  border-radius: 8px;
} */
